{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='adipoli.css')}}">

<style type="text/css">
                
body   {
        background-image: url("/static/space5.jpg");
        background-size: 100%;
        }
.butt4 {
            height:30px;
            width:250px;
            background-color: Transparent;
            background-repeat:no-repeat;
            cursor: pointer;
            overflow: hidden;
            vertical-align: center;
            text-align: center;
            font-size: 20px;
            font-family: "Fjalla One", sans-serif;
            color: white;
        }
.butt5 {
            height:30px;
            width:100px;
            background-color: Transparent;
            background-repeat:no-repeat;
            cursor: pointer;
            overflow: hidden;
            vertical-align: center;
            text-align: center;
            font-size: 20px;
            font-family: "Fjalla One", sans-serif;
            color: white;
        }
.head3 {
            height:50px;
            width:100px;
            background-color: Transparent;
            background-repeat:no-repeat;
            vertical-align: center;
            text-align: center;
            font-size: 20px;
            font-family: "Fjalla One", sans-serif;
            color: white;
            padding-top: 2%;
            padding-bottom: 2%;
        }
.head4 {
            height:50px;
            width:200px;
            background-color: Transparent;
            background-repeat:no-repeat;
            vertical-align: center;
            text-align: center;
            font-size: 60px;
            font-family: "Fjalla One", sans-serif;
            color: white;
            padding-top: 2%;
            padding-bottom: 2%;
        }
.pad {
    padding-left: 28%;
    padding-bottom: 2%;
}
.pad2 {
    padding-top: 1%;
    padding-left: 35%
}
.pad3 {
    padding-top: 2%;
    padding-left: 32%
}
</style>
    <table class=pad3>
    <div>
        
    </div>
        <tr>
            <thead class=head4>
               <th>Administrator Dashboard</th>
            </thead> 
        </tr>
    </table>
    <table class=pad2>
        <tr>
            <td>        
            <form action="{{url_for('ec2_create')}}" method="post">
            <input class=butt4 type="submit" value="Launch New Instance">
            </form>
            </td>

            <td>
            <form action="{{url_for('ec2_autoscale')}}" method="post">
            <input class=butt4 type="submit" value="Auto Scale Configuration">
            </form>
            </td>
        </tr>
    </table>
    <div>
        
    </div>

    <table class=pad>
    <thead class=head3>
       <th>ID</th>
       <th>Type</th>
       <th>Availability Zone</th>
       <th>Status</th>
       <th>CPU Utilization (%) </th>
    </thead> 
    {% for instance in instances %}
        <tr>
            <td class=head3>{{ instance.id }}</td>
            <td class=head3>{{ instance.instance_type }}</td>
            <td class=head3>{{ instance.placement['AvailabilityZone']}}</td>
            <td class=head3>{{ instance.state['Name'] }}</td>
            <td class=head3>{{ cpuutil[(instance.id)] }} </td>
         
            <td>
                <form action="{{url_for('ec2_destroy',id=instance.id)}}" method='post' onsubmit='return confirm("Are you sure?")'>
                    <input class=butt5 type='submit' value='Destroy' />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>

<script>
    $('form:input').fancyInput();
</script>

{% endblock %}